.loginAreaFlex div{
    margin-top: 5vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.loginArea div{
    padding-left: 30%;
    width: 70%;
}

.goToRegister{
    text-decoration: none;
    margin-left: 2%;
}