.themeDetailsPage{
    margin: 4rem;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    border-bottom: 1px solid #6e7781;
    border-top: 1px solid #6e7781;
}

.sectionAnswerBtn{
    margin-top: 4rem;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.answerBtn{
    text-decoration: none;
    margin-left: 2%;
    border-radius: 5px;
    padding: 0.3rem 1rem 0.6rem 1rem;
    border: solid 1px #0d6efd;
    color: white;
    background-color: #0d6efd;
}

.answerBtn:hover{
    background-color: #3a87fb;
}

.loginRequired{
    color: #0d6efd;
    text-decoration: none;
}

.loginRequired:hover{
    color: #fd0d0d;
}

.deleteCommentBtn{
    text-decoration: none;
    margin-right: 2%;
    border-radius: 5px;
    padding: 0.3rem 1rem 0.6rem 1rem;
    border: solid 1px #fd0d0d;
    color: white;
    background-color: #fd0d0d;
}

.deleteCommentBtn:hover{
    background-color: #ff3b3b;
}

.deleteThemeBtn{
    text-decoration: none;
    margin: 2% 2%;
    border-radius: 5px;
    padding: 0.3rem 1rem 0.6rem 1rem;
    border: solid 1px #fd0d0d;
    color: white;
    background-color: #fd0d0d;
}

.deleteThemeBtn:hover{
    background-color: #ff3b3b;
}

.editBtn{
    text-decoration: none;
    margin: 3% 2% 1% 2%;
    border-radius: 5px;
    padding: 0.3rem 1rem 0.6rem 1rem;
    border: solid 1px #fd910d;
    color: white;
    background-color: #fd910d;
}

.editBtn:hover{
    background-color: #ffa230;
}

.answersArea{
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.creatorDiv{
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.creatorDataAnswer{
    text-align: right;
    margin-bottom: 0;
}

.creatorDataComment{
    text-align: right;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.commentLinkDiv{
    width: 100%;
    align-self: center;
    text-align: center;
    text-decoration: none;
}

.commentLink{
    background-color: white;
    border: none;
    color: #0d6efd;
}

.themeData{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.forumThemeDetails{
    padding: 1rem;
}

.themeDataItem{
    width: 100%;
    text-align: start;
}

.userInfo{
    text-align: end;
}

.answerCard{
    text-align: start;
    width: 100%;
    border-top: 1px solid #6e7781;
    padding: 1rem;
}

.commentBox{
    padding: 0.5rem;
}

.commentBox:nth-child(even){
    background-color: #b2b3b5;
}

.commentBox:nth-child(odd){
    background-color: #dadada;
}