.themeCard{
    width: 80%;
}

.joinTheme{
    text-decoration: none;
    margin-left: 2%;
    border-radius: 5px;
    padding: 0.3rem 1rem 0.6rem 1rem;
    color: white;
    background-color: #0d6efd;
}

.joinTheme:hover{
    color: white;
    background-color: #3586ff;
}