.header {
  border-bottom: 1px solid #6e7781;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.headerItem {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:  space-evenly;
}

.navItem {
  padding: 0.5rem;
  border-radius: 7px;
  margin: 0 5px;
  text-decoration: none;
  min-width: 10rem;
}

.navLogo {
  border-radius: 7px;
  border: 1px solid #6e7781;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
}

.navItem:hover {
  color: white;
  background-color: #0d6efd;
}